<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detail Template</title>
    <meta charset="utf-8" /> 
  </head>
  <body>
    {% if product_name %}
      <p>Product name: <strong>{{ product_name }}</strong></p>
      <p>Product id: {{ product_name.id }}</p>
      <hr>
    {% else %}
    <p>Product does not exist</p>
    {% endif %}
    <form action="{% url 'products:review' product.id %}" method="post">
      {% csrf_token %}
      <fieldset>
        <legend>
          <h1>{{ product_review }}</h1>
        </legend>
      </fieldset>
    </form>
  </body>
</html>